language: php
php:
 - "5.5"
 - "5.4"
 - "hhvm"
 - "nightly"

matrix:
  allow_failures:
    - php: "nightly"
    - php: "hhvm"
  include:
    - php: "5.6"
      env: COVERAGE=yes
 
before_script:
 - composer install

script: vendor/bin/phpunit --coverage-clover coverage.clover tests/cases 
after_script: if [ "$COVERAGE" == "yes" ]; then wget https://scrutinizer-ci.com/ocular.phar && php ocular.phar code-coverage:upload --format=php-clover coverage.clover; fi

